.mydiv{
   padding-top: 20vh;
    font-size: 4rem;
	font-weight: 800;
	letter-spacing: .05em;
	color: red;
	text-align:center;
    color: mix(#fff, #006400, 80%);
    text-shadow: 
			0 0 0.025em #fff, 
			0 0 0.05em #fff, 
			0 0 0.1em #006400, 
			0 0 0.2em #006400, 
			0 0 0.25em #006400, 
			0 0 0.75em #006400, 
			0 0 1.25em #006400, 
			0 0 1.75em rgba(#006400, .5);
	text-transform: uppercase;
}
.myback{
    background-color: black;
    min-height: 70vh;
    min-width: 100vw;
}
.myback1{
    background-color: black;
    min-height: 30vh;
    min-width: 100vw;
    width: 100%;
    text-align: center;
}
.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}
.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    display: inline-block;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}